.container{
  text-align: center;
  display: flex;
  width: fit-content;
  margin: 5rem auto ;
 
}
.container div{
  width: fit-content;
  margin: 0 3rem;

}

.container a:hover{
  text-decoration: underline;;
}